html {
    height:100%;
}
body {
    background: linear-gradient(0deg, #dbdbdb, #416b92 55%) no-repeat;

}

#error-modal-body {
    background-color: red;
}


.form-check-input{
    margin-top: 15px !important;
    margin-left: -100px !important;
}

#login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 500px;
    height: 300px;
    border: 1px solid #353434;
    box-shadow: 7px 10px #4d4c4c;
    border-radius: 15px;
    }


.form-inline {
        margin: 50px;
}

.welcome-h2 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    margin-left: 90px;
    margin-top: -20px;
}

#login-form{
    margin-left:120px;
    margin-top: -50px;
}


#username-input {
    width:300px;
}

.btn-primary {
    background: #4f80ad;
}

#help-link {
    height:1.5em;
}

.info {
    margin-left: 38px;
    margin-top: 70px;
}

#remember {
    height: 1.5em;
    margin-top:10px;
}


#buttons {
    margin-left: 130px;
    margin-top:30px;
}

#login-button {
    width:90px;
    height:40px;
}

#register-button {
    width: 90px;
    height: 40px;
}

/* Log in screen for PHONES. */
@media screen and (max-width: 400px) {
html {
    background: white;
    }

#help-link{
    display:none;
}

.welcome-h2{
    width:288px;
    margin-top: -100px;
}

#login {
        width: auto;
        height: auto;
        border: none; 
        box-shadow: none;
    }

.form-inline {
    margin: 80px !important;
    margin-left:0px !important;
}
    
#username-input {
    width:190px !important;
    margin-left:35px !important;
    margin-top:-30px !important;
    margin-bottom: 30px !important;
}

.form-check-input{
    margin-left: -90px !important;
}

#remember {
    width: 180px !important;
    margin-top:-20px;
}

#buttons {
    margin-left:65px;
}

#login-button{
    margin-top: 60px;
    height:60px;
    width: 300px;
}

#register-button {
    width: 200px;
    margin-left:48px;

}

}