body{
  font-family: 'Kashuan';
}

.btn-sm{
    width: 70px;
    height: 45px;
}

button{
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

.center{
  margin-left: 40px;
}

#chat-box{
  max-width: 500px;
  margin: 30px auto;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 25px;
  border: 2px solid #ddd;
  padding: 20px; 
  /* width: 100%; */
  box-shadow: 7px 10px #2a4864;
}

#chat-window{
  border-radius: 25px;
  border: 2px solid #ddd;
  margin-left: 3px;
  margin-right: 3px;
  height: 350px;
  overflow: auto;
  background: #f9f9f9;
}


#feedback p{
  color: rgb(150, 148, 148);
  /* padding: 14px 0px;
  margin: 0 20px; */
  width: 100%
}

h2{
  font-size: 18px;
  padding: 10px 20px;
  color:rgb(48, 78, 104);
}


h3{
  font-family: 'Farsan';
  text-align: center;
  color: rgb(48, 78, 104);
}

.font {
  font-family: "Farsan";
  color:rgb(48, 78, 104);
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 82%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
  float: left;
}


label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}


#output p{
    margin: 20px;
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    background-color: rgba(212, 214, 216, 0.466);


    border-radius: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px; 
  
}

#output strong{
  color: rgb(35, 50, 63);
}

.roomName{
    background: rgba(212, 214, 216, 0.466);
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #fff;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: black;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
  /* rotate first one */
  transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
  /* second one is not visible */
  opacity: 0;
}

#sidebarCollapse span:last-of-type {
  /* rotate third one */
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  /* no rotation */
  transform: none;
  /* all bars are visible */
  opacity: 1;
  margin: 5px auto;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  margin-left: 15px;
  background: rgba(212, 214, 216, 0.466);
  height: 650px;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

#topicBtn {
  color: #436C90;
  background-color: rgba(255, 255, 255, 0.534);
  width: 60%;
  align-content: center;
  border-radius: 8px;
  opacity: 1;
}

.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px; 
  height: 300px;
  font-size: 22px;
}
/* Chat.css end */


/* Login CS Begin */
html {
  height:100%;
  background: linear-gradient(0deg, #dbdbdb, #416b92 55%) no-repeat;
}

#error-modal-body {
  background-color: red;
}


.form-check-input{
  margin-top: 15px !important;
  margin-left: -100px !important;
}

#login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 500px;
  height: 300px;
  border: 1px solid #353434;
  box-shadow: 7px 10px #4d4c4c;
  border-radius: 15px;
  }


.form-inline {
      margin: 50px;
}

.welcome-h2 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
  margin-left: 90px;
  margin-top: -20px;
}

#login-form{
  margin-left:120px;
  margin-top: -50px;
}


#username-input {
  width:300px;
}

.btn-primary {
  background: #4f80ad;
}

#help-link {
  height:1.5em;
}

.info {
  margin-left: 38px;
  margin-top: 70px;
}

#remember {
  height: 1.5em;
  margin-top:10px;
}


#buttons {
  margin-left: 130px;
  margin-top:30px;
}

#login-button {
  width:90px;
  height:40px;
}

#register-button {
  width: 90px;
  height: 40px;
}

/* Log in screen for PHONES. */
@media screen and (max-width: 400px) {
html {
  background: white;
  }

#help-link{
  display:none;
}

.welcome-h2{
  width:288px;
  margin-top: -100px;
}

#login {
      width: auto;
      height: auto;
      border: none; 
      box-shadow: none;
  }

.form-inline {
  margin: 80px !important;
  margin-left:0px !important;
}
  
#username-input {
  width:190px !important;
  margin-left:35px !important;
  margin-top:-30px !important;
  margin-bottom: 30px !important;
}

.form-check-input{
  margin-left: -90px !important;
}

#remember {
  width: 180px !important;
  margin-top:-20px;
}

#buttons {
  margin-left:65px;
}

#login-button{
  margin-top: 60px;
  height:60px;
  width: 300px;
}

#register-button {
  width: 200px;
  margin-left:48px;

}

}
/* Login CSS End */


/* About css Start */


body {
  height: 100%;
  background: linear-gradient(0deg, #dbdbdb, #416b92 70%) no-repeat;
  font-family: "Calibri", "Roboto", sans-serif;
}

/* #about-page {
  height: 100vh;
} */

/* =============== HEADER ============== */
.header-div {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}
.about-h1 {
  font-size: 58px;
  margin-bottom: 10px;
}
.header-row {
    margin-top: 30px;
    margin-bottom: 50px;
}
.header-row h1{
  text-shadow: 1px 1px #000000;
}
/* ==================== MAIN SECTION PICS N BIOS ==================== */
.col1 {
  margin-top: 30px;
  border-bottom: 1px solid rgb(77, 76, 76);
  height: 200px;
}

img {
  width: 200px;
  height: 185px;
}

/* =============== FOOTER  ============= */
.about-ft {
  margin-top: 150px;
}
.ft-span {
  margin-left: 590px;
}