html {
    height:100%;
    background: linear-gradient(0deg, #dbdbdb, #416b92 55%) no-repeat;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 500px;
    height: 300px;
    border: 1px solid #353434;
    box-shadow: 7px 10px #4d4c4c;
    border-radius: 15px;
}

/* -----------CONTENTS OF FORM--------------------- */
/* CONTAINER DIV */
.form-inline {
    margin: 50px;
}

.welcome-h2 {
    text-align: center;
    margin: -25px 0 10px 78px;
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
}

div #userName {
    width: 350px;
    margin-top: 5px;
}

/* TICK BOX */
.rememberMe {
    margin-top: -50px;
}

/* BUTTON TO ENTER CHAT ROOM */
.btn-primary {
    margin-top: 70px;
    margin-left: -20px;
    background: #4f80ad;
}

/* REGISTER/MORE INFO ----LINK VS GLIPHICON???------- */
.info {
    margin-left: 38px;
    margin-top: 70px;
}

/* GLIPHICON INFO BELOW */
 /* .info {
    UTF+e195
    &#xe195
    20 - e
 } */